
.icon-angle-up:before { content: '\e800'; } /* '' */
.icon-angle-down:before { content: '\e801'; } /* '' */
.icon-angle-double-up:before { content: '\e802'; } /* '' */
.icon-angle-double-down:before { content: '\e803'; } /* '' */
.icon-globe:before { content: '\e804'; } /* '' */
.icon-comment-1:before { content: '\e805'; } /* '' */
.icon-down-bold:before { content: '\e806'; } /* '' */
.icon-left-bold:before { content: '\e807'; } /* '' */
.icon-megaphone:before { content: '\e808'; } /* '' */
.icon-rss:before { content: '\e809'; } /* '' */
.icon-link:before { content: '\e80a'; } /* '' */
.icon-trash-empty:before { content: '\e80b'; } /* '' */
.icon-trash:before { content: '\e80c'; } /* '' */
.icon-code-1:before { content: '\e80d'; } /* '' */
.icon-bookmark-empty:before { content: '\e80e'; } /* '' */
.icon-bookmark:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
.icon-award:before { content: '\e811'; } /* '' */
.icon-user-secret:before { content: '\e812'; } /* '' */
.icon-right-bold:before { content: '\e813'; } /* '' */
.icon-up-bold:before { content: '\e814'; } /* '' */
.icon-twitter:before { content: '\e815'; } /* '' */
.icon-globe-1:before { content: '\e816'; } /* '' */
.icon-megaphone-1:before { content: '\e817'; } /* '' */
.icon-chat:before { content: '\e818'; } /* '' */
.icon-infinity:before { content: '\e819'; } /* '' */
.icon-eye:before { content: '\e81a'; } /* '' */
.icon-video-1:before { content: '\e81b'; } /* '' */
.icon-search-1:before { content: '\e81c'; } /* '' */
.icon-slack:before { content: '\e81d'; } /* '' */
.icon-vkontakte:before { content: '\e81e'; } /* '' */
.icon-github:before { content: '\e81f'; } /* '' */
.icon-pin:before { content: '\e820'; } /* '' */
.icon-help:before { content: '\e821'; } /* '' */
.icon-comment-empty:before { content: '\e822'; } /* '' */
.icon-comment-2:before { content: '\e823'; } /* '' */
.icon-star-empty:before { content: '\e824'; } /* '' */
.icon-star:before { content: '\e825'; } /* '' */
.icon-flag-empty:before { content: '\e826'; } /* '' */
.icon-flag:before { content: '\e827'; } /* '' */
.icon-terminal:before { content: '\e828'; } /* '' */
.icon-pencil:before { content: '\e829'; } /* '' */
.icon-key-1:before { content: '\e82a'; } /* '' */
.icon-facebook:before { content: '\e82b'; } /* '' */
.icon-trophy:before { content: '\e82c'; } /* '' */
.icon-eye-1:before { content: '\e82d'; } /* '' */
.icon-export:before { content: '\e82e'; } /* '' */
.icon-video:before { content: '\e82f'; } /* '' */
.icon-key:before { content: '\e830'; } /* '' */
.icon-plus:before { content: '\e831'; } /* '' */
.icon-minus:before { content: '\e832'; } /* '' */
.icon-paper-plane-empty:before { content: '\e833'; } /* '' */
.icon-link-1:before { content: '\e834'; } /* '' */
.icon-thumbs-up:before { content: '\e835'; } /* '' */
.icon-thumbs-down:before { content: '\e836'; } /* '' */
.icon-thumbs-up-1:before { content: '\e837'; } /* '' */
.icon-thumbs-down-1:before { content: '\e838'; } /* '' */
.icon-pencil-1:before { content: '\e839'; } /* '' */
.icon-dot-3:before { content: '\e83a'; } /* '' */
.icon-heart:before { content: '\e83b'; } /* '' */
.icon-heart-empty:before { content: '\e83c'; } /* '' */
.icon-down-open:before { content: '\e83d'; } /* '' */
.icon-up-open:before { content: '\e83e'; } /* '' */
.icon-down-open-1:before { content: '\e83f'; } /* '' */
.icon-up-open-1:before { content: '\e840'; } /* '' */
.icon-menu:before { content: '\e841'; } /* '' */
.icon-cancel:before { content: '\e842'; } /* '' */
.icon-share:before { content: '\e843'; } /* '' */
.icon-paper-plane:before { content: '\e844'; } /* '' */
.icon-gplus:before { content: '\e845'; } /* '' */
.icon-flash:before { content: '\e846'; } /* '' */
.icon-fire-1:before { content: '\e847'; } /* '' */
.icon-chart-bar:before { content: '\e848'; } /* '' */
.icon-flash-1:before { content: '\e849'; } /* '' */
.icon-comment:before { content: '\e84a'; } /* '' */
.icon-bell:before { content: '\e84b'; } /* '' */
.icon-bell-alt:before { content: '\e84c'; } /* '' */
.icon-bell-1:before { content: '\e84d'; } /* '' */
.icon-whatsapp:before { content: '\e84e'; } /* '' */
.icon-mail:before { content: '\e84f'; } /* '' */
.icon-phone:before { content: '\e850'; } /* '' */
.icon-skype:before { content: '\e851'; } /* '' */
.icon-cog:before { content: '\e852'; } /* '' */
.icon-wrench:before { content: '\e853'; } /* '' */
.icon-angle-left:before { content: '\e854'; } /* '' */
.icon-angle-right:before { content: '\e855'; } /* '' */
.icon-logout:before { content: '\e856'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-get-pocket:before { content: '\f265'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-yandex:before { content: '\f305'; } /* '' */
.icon-yandex-rect:before { content: '\f306'; } /* '' */